/* This to center the ajouter and modifer and supprimer buttons */
#ajouter,#modify,#createbtn
{
    text-align:right;
}

.navbar-toggler-icon 
{
    background-color: #fff; /* Light color */
}

#nom,#prenom,#age,#login,#password,#commentaire 
{
    font-weight: bold;
}



